<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-fda68c65-070c-4a08-9943-6be62bc653f0.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Idol</span>
        <h4><a href="">Metal Shiv Parivar Idol(Gold)</a></h4>
        <p>Shiv Parivar Statue In The Divine Family Of Lord Shiva, There Are Only Four Members, Namely, Lord Shiva, His Consort Parvati, And The Two Sons, Kartikeya (Subramanya) And Ganesha (Vinayaka). This Is An Ideal Family. There Is No Difference Of Opinion Whatsoever Either Between Husband And Wife Or The Two Brothers. There Is Perfect Accord And Harmony In Their Family.</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>200RS</small>169RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-5639d820-3302-40dd-98e1-b7eff1d9005d.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Clock</span>
        <h4><a href="">Designer Analog Wall Clock</a></h4>
        <p>Graceful Wall Clocks Material: Plastic Product Breadth: 12 cm Product Height: 12 cm Product Length: 12 cm Color : Multicolor , Net Quantity (N): 1 At SHYAM CRAFTS , We understand the importance of timeless art. Each and every Product designed by us is inspired by some unique with most latest and contemporary designs to suit your home interior needs. In today's changing world, home decor is incomplete without home</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>500RS</small>159RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-667828ee-740f-467c-9a35-f060191a2ab3.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Sandles</span>
        <h4><a href="">Flip Flops for Men(Tan, 7)</a></h4>
        <p>This product is returnable within 7 days of delivery to the customer. It must be unused, undamaged and untampered with no stains/ scratches/ tears/ holes. It must be returned in the original packaging box with the original packaging receipt and material.</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>200RS</small>181RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-7c5c7719-1b64-4405-bac1-e061c8245d68.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Pencil Box</span>
        <h4><a href="">Money Box for Kids(MutiColor)</a></h4>
        <p>Unicorn coin bank with password lock | unicorn piggy Bank Material: Plastic Type: Puppy House Piggy Bank Battery Required: No Battery Included: No Net Quantity (N): 1 This is a big size coin bank with unicorn theme all over it. It has a password protected lock mechanism. It also has a carry string attach to it which helps the child to carry it from one place to another easily. It has a big storage size.It is a perfect gift product for kids.This product inculcates the habit of saving money in our children.</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>999RS</small>419RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-24bb3c12-77b9-4d2c-9934-ecddf90cef0c.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">shoes</span>
        <h4><a href="">Sports Shoes For Men</a></h4>
        <p> shoes should be the most comfortable pair of footwear in your wardrobe. So making sure that they are equipped with features for comfort is a priority. Some of the features that you can keep an eye out for are good grip and support, soft footbed, flexible design and anti-slip sole among others.</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>499RS</small>199RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-30135184-e8f1-429c-90ba-a99fbbb14aa8.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">jeera</span>
        <h4><a href="">Dhani Pure Cumin(Jeera)</a></h4>
        <p>  Dhani Pure Cumin/Jeera Whole gives you one of the best and sparkling Cumin. It includes many phytochemical compounds which might be recognized to have antioxidant, anti-flatulent and carminative properties. It is 100% natural and features herbal vitamins wished for a wholesome diet. Organic Cumin Whole additionally consists of nutritional fibres, vitamins, and numerous different vitamins. It is absolutely unfastened from synthetic shades and preservatives.</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>100RS</small>55RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-26748181-7b9e-4e58-a26d-f226a5a9f2fb.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Wallet</span>
        <h4><a href="">BMW Wallet for Men(Brown)</a></h4>
        <p>  It is a space-saving wallet with a length of 4.5 inches and a width of 3.5 inches & It has 7 card slots, & yes, it is compact. Now no need to be irritated because it has a separate coin pocket.</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>999RS</small>79RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-3e21f7f0-5ed5-4ef0-b0d6-84ce6d113a5f.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">oil</span>
        <h4><a href="">Fortune Soya Health Refined Oil</a></h4>
        <p>  Fortune Soya Health Oil is processed with next-generation High Absorbent Refining Technology (H.A.R.T). So, your everyday meals not only taste better but also make your Bones stronger and your Heart and Eyes healthier. Soybean oil is used in the manufacture of pickles. It is commonly used as a salad oil, and in the preparation of salad dressings, sandwich spreads. It is suitable for eating salad dressings, baked food and sauces. A must-have product in the kitchen wardrobe.</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>139RS</small>116RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-d4452381-3190-4b8d-8c6a-e1c274f50cf4.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Biscuts</span>
        <h4><a href="">SunFeast Farmline Digistive Biscuts</a></h4>
        <p>  The Sunfeast Farmlite 5 Grain Digestive Biscuit is a High Fibre biscuit that'll give you the power to seize the day. It is made with the goodness of five grains like Ragi, Oats, Jowar, Corn and Wheat. These five super grains will keep you energised to live a multitasking life.</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>240RS</small>120RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-a5869ca0-c9bd-4c20-b322-3221cf488e4a.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Jacket for men</span>
        <h4><a href="">Polyster Solid Bomber Jacket</a></h4>
        <p>  Bust Size : XXL
            Chest Size : 48
            Closure : Zipper
            Colour : Black
            Fabric : Polyester
            Upgrade Your Style Game With Our Premium Stylish Bomber Jacket, A Must-Have Addition To Your Wardrobe This Season. Crafted With Meticulous Attention To Detail And A Passion For Fashion</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>1999RS</small>789RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-9eaea81f-9d42-4268-9e40-02d57c681855.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Bottle</span>
        <h4><a href="">Water Bottle Set</a></h4>
        <p> Introducing our versatile plastic reusable water bottle, the ultimate companion for all your hydration needs. Designed to be your go-to choice for the fridge, travel, gym, and beyond, this compact bottle offers unbeatable convenience and functionality. Its durable construction ensures long-lasting use, while the leak-proof cap guarantees mess-free carrying. With a generous capacity, it keeps you hydrated throughout the day, whether you're on the go or hitting the gym. </p>
        <div class="product-bottom-details">
            <div class="product-price"><small>599RS</small>289RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-07eb412e-2854-4b35-9985-c99aae2932c8.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Holder</span>
        <h4><a href="">Wooden Mobile & Key Holder</a></h4>
        <p> Colour : Brown
            Material : Wooden
            Net Quantity (N) : 1
            No.of Hooks : 8
            Size : 20
            Type : Key Holder
            It Is A Real Trouble When You Lose Your Keys. You Have To Make Little Space In Your House Where You Can Put Your Keys. </p>
        <div class="product-bottom-details">
            <div class="product-price"><small>799RS</small>149RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-7c7fc41e-c019-4f32-8e9f-49f999ce89eb.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Bluetooth</span>
        <h4><a href="">Wireless Bluetooth</a></h4>
        <p> Age : 15+
            Battery Charging Time : 2 Hr
            Bluetooth Range : 10M
            Bluetooth Version : 5
            Charging Type : Lighting
            Colour : Black
            Compatibility : All Bluetooth Devices
            Experience Audio Perfection With The All-New Earbuds. These Cutting-Edge True Wireless Earbuds Have Been Meticulously Engineered To Redefine The Way You Enjoy Music, Calls, And Your Overall Audio Experience. With A Host Of Upgrades And Advanced Features, This Earbuds Is The Ultimate Audio Companion For Every Moment Of Your Day. </p>
        <div class="product-bottom-details">
            <div class="product-price"><small>1299RS</small>319RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-30876bad-e17b-45b4-b09e-f00523f24ad7.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Chain</span>
        <h4><a href="">Mangalsutra for Women</a></h4>
        <p> This product shall not be returned or refunded. It is eligible for return only if the product is returned in complete packaged and sealed state at the time of delivery, post receiving the product – the same shall be in a non-returnable state. In the event of product not received as described or damaged, the same shall be raised and resolved with the Manufacturer, we may help you to reach out to the concerned department of the manufacturer while the return shall not be processed for such articles from the supplier (City Mall). </p>
        <div class="product-bottom-details">
            <div class="product-price"><small>315RS</small>135RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="product-card">
    <div class="badge">Off</div>
    <div class="product-tumb">
        <img src="https://dvlecj7f4ziam.cloudfront.net/cmimgopt-30876bad-e17b-45b4-b09e-f00523f24ad7.webp?w=140&amp;q=80%27" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">Chain</span>
        <h4><a href="">Mangalsutra for Women</a></h4>
        <p> This product shall not be returned or refunded. It is eligible for return only if the product is returned in complete packaged and sealed state at the time of delivery, post receiving the product – the same shall be in a non-returnable state. In the event of product not received as described or damaged, the same shall be raised and resolved with the Manufacturer, we may help you to reach out to the concerned department of the manufacturer while the return shall not be processed for such articles from the supplier (City Mall). </p>
        <div class="product-bottom-details">
            <div class="product-price"><small>315RS</small>135RS<a href="#" class="btn btn-primary" style="color:white;">
                <span class="glyphicon glyphicon-shopping-cart"></span>   
                add to Cart
              </a></div>
            <div class="product-links">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div> 




